.btn {
    color: #32416A;
    border: 3px solid #32416A;
    display: inline-block;
    padding: .64rem 1rem;
}

.btn:hover {
    margin: -4px 0 0 -4px; 
    box-shadow: 4px 4px 0px #32416A;
    text-decoration: none;
}
