.card {
    border: 3px solid #caedfb;
    padding: 1.25rem;
    width: 100%;
    box-sizing: border-box;
    background-color: #caedfb;
}

.card__title {
    font-weight: 600;
    margin: 0;
}

.card__title {
    color: #32416A;
}

.card__text {
    color: #32416A;
}
