.card {
	border: 3px solid #97DEFB;
	padding: 1rem;
	width: 100%;
	box-sizing: border-box;
	background-color: #97DEFB;
	margin-top: 1.333rem;
}

.card__content {
	margin-top: .64rem;
}

.card__icons {
	margin-top: .64rem;
}

.card__icon-item {
	width: 1.777rem; 
}

.card__footer {
	margin-top: 1rem; 
}

.card__title {
	margin: 0;
}

.card__title {
	color: hsl(0, 0%, 0%);
	font-weight: 600;
}

.card__text {
	color: #000000;
	margin: 0; 
	font-size: 1.333rem;
}
